.ex{
  padding: 1500px;
}

.bg{
  background-image: url(../img/BG.jpg);
  background-size: cover;
}

.op{
  opacity: 50%;
}
.color-text{
  color: aliceblue;
}

.sp-nav{
  display: flex;
  justify-content: space-between;
}

.sp-icon{
  display: flex;
  justify-content: space-around;
  padding: 100px;
}

.ct-text{
  display: flex;
  justify-content: center;
  color: aliceblue;
  padding: 10px;
}

.icon-dm{
  width: 200px;
  height: 200px;
  border-radius: 15%;
}

.bg-img-color{
  background-color: #9B9B9B;
}